# Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np

In [14]:
pl_df = pd.read_csv('data/bank_loan_campaign_data.csv')
print(pl_df.info()) # get info about the dataframe
print("Any blank values present\n", pl_df.isnull().sum()) #check if any blank values is present
missing_values=pl_df.columns[pl_df.isnull().any()]
print("printing missing values column names\n", missing_values)
any(pl_df<0) # check if any negative values present
print("printing the negative value details\n", pl_df.lt(0).sum()) # print all the columns having negative values
pl_df_orig = pl_df.copy() #Creates a copy of the dataframe.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB
None
Any blank values present
 ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64
printing missing values column names
 Index([], dtype='object')
printing the negative value details
 ID                     0
Age                    0
Experience            52
Income                 0
ZIP Code               0
Family                 0
CCAvg                  0
Education              0
Mortgage               0
Personal Loan          0
Securities Account     0
CD Account             0
Online                 0
CreditCard             0
dtype: int64

In [15]:
#From the above analysis we can see there are 52 negative values for Experience. Lets see how they look.
print(pl_df[pl_df["Experience"] < 0].head(52))
# Looks like they are wrong entry. Comparing with Age it seems they should be positive instead of -ve
pl_df['Experience'] = pl_df['Experience'].abs()
pl_df['ZIP Code'] = pl_df['ZIP Code'].astype(object) # Coverting to categorical as it cannot be considered numeric.

        ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
89      90   25          -1     113     94303       4   2.30          3
226    227   24          -1      39     94085       2   1.70          2
315    316   24          -2      51     90630       3   0.30          3
451    452   28          -2      48     94132       2   1.75          3
524    525   24          -1      75     93014       4   0.20          1
536    537   25          -1      43     92173       3   2.40          2
540    541   25          -1     109     94010       4   2.30          3
576    577   25          -1      48     92870       3   0.30          3
583    584   24          -1      38     95045       2   1.70          2
597    598   24          -2     125     92835       2   7.20          1
649    650   25          -1      82     92677       4   2.10          3
670    671   23          -1      61     92374       4   2.60          1
686    687   24          -1      38     92612       4   0.60          2
793    794   24          -2     150     94720       2   2.00          1
889    890   24          -2      82     91103       2   1.60          3
909    910   23          -1     149     91709       1   6.33          1
1173  1174   24          -1      35     94305       2   1.70          2
1428  1429   25          -1      21     94583       4   0.40          1
1522  1523   25          -1     101     94720       4   2.30          3
1905  1906   25          -1     112     92507       2   2.00          1
2102  2103   25          -1      81     92647       2   1.60          3
2430  2431   23          -1      73     92120       4   2.60          1
2466  2467   24          -2      80     94105       2   1.60          3
2545  2546   25          -1      39     94720       3   2.40          2
2618  2619   23          -3      55     92704       3   2.40          2
2717  2718   23          -2      45     95422       4   0.60          2
2848  2849   24          -1      78     94720       2   1.80          2
2876  2877   24          -2      80     91107       2   1.60          3
2962  2963   23          -2      81     91711       2   1.80          2
2980  2981   25          -1      53     94305       3   2.40          2
3076  3077   29          -1      62     92672       2   1.75          3
3130  3131   23          -2      82     92152       2   1.80          2
3157  3158   23          -1      13     94720       4   1.00          1
3279  3280   26          -1      44     94901       1   2.00          2
3284  3285   25          -1     101     95819       4   2.10          3
3292  3293   25          -1      13     95616       4   0.40          1
3394  3395   25          -1     113     90089       4   2.10          3
3425  3426   23          -1      12     91605       4   1.00          1
3626  3627   24          -3      28     90089       4   1.00          3
3796  3797   24          -2      50     94920       3   2.40          2
3824  3825   23          -1      12     95064       4   1.00          1
3887  3888   24          -2     118     92634       2   7.20          1
3946  3947   25          -1      40     93117       3   2.40          2
4015  4016   25          -1     139     93106       2   2.00          1
4088  4089   29          -1      71     94801       2   1.75          3
4116  4117   24          -2     135     90065       2   7.20          1
4285  4286   23          -3     149     93555       2   7.20          1
4411  4412   23          -2      75     90291       2   1.80          2
4481  4482   25          -2      35     95045       4   1.00          3
4514  4515   24          -3      41     91768       4   1.00          3
4582  4583   25          -1      69     92691       3   0.30          3
4957  4958   29          -1      50     95842       2   1.75          3

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
89           0              0                   0           0       0
226          0              0                   0           0       0
315          0              0                   0           0       1
451         89              0                   0           0       1
524          0              0                   0           0       1
536        176              0                   0           0       1
540        314              0                   0           0       1
576          0              0                   0           0       0
583          0              0                   0           0       1
597          0              0                   1           0       0
649          0              0                   0           0       1
670        239              0                   0           0       1
686          0              0                   0           0       1
793          0              0                   0           0       1
889          0              0                   0           0       1
909        305              0                   0           0       0
1173         0              0                   0           0       0
1428        90              0                   0           0       1
1522       256              0                   0           0       0
1905       241              0                   0           0       1
2102         0              0                   0           0       1
2430         0              0                   0           0       1
2466         0              0                   0           0       1
2545         0              0                   0           0       1
2618       145              0                   0           0       1
2717         0              0                   0           0       1
2848         0              0                   0           0       0
2876       238              0                   0           0       0
2962         0              0                   0           0       0
2980         0              0                   0           0       0
3076         0              0                   0           0       0
3130         0              0                   1           0       0
3157        84              0                   0           0       1
3279         0              0                   0           0       0
3284         0              0                   0           0       0
3292         0              0                   1           0       0
3394         0              0                   0           0       1
3425        90              0                   0           0       1
3626         0              0                   0           0       0
3796         0              0                   1           0       0
3824         0              0                   1           0       0
3887         0              0                   1           0       1
3946         0              0                   0           0       1
4015         0              0                   0           0       0
4088         0              0                   0           0       0
4116         0              0                   0           0       1
4285         0              0                   0           0       1
4411         0              0                   0           0       1
4481         0              0                   0           0       1
4514         0              0                   0           0       1
4582         0              0                   0           0       1
4957         0              0                   0           0       0

      CreditCard
89             1
226            0
315            0
451            0
524            0
536            0
540            0
576            1
583            0
597            1
649            0
670            0
686            0
793            0
889            1
909            1
1173           0
1428           0
1522           1
1905           0
2102           1
2430           0
2466           0
2545           0
2618           0
2717           1
2848           0
2876           0
2962           0
2980           0
3076           1
3130           1
3157           0
3279           0
3284           1
3292           0
3394           0
3425           0
3626           0
3796           0
3824           1
3887           0
3946           0
4015           1
4088           0
4116           0
4285           0
4411           1
4481           0
4514           0
4582           0
4957           1

In [11]:
# we can also drop the rows. Lets do it.
pl_df = pl_df_orig.copy() #Taking the original df since it is modified in the earlier changes.
pl_df = pl_df[pl_df.Experience >= 0] # Retains only those rows which have experience greater than 0

In [12]:
# We can also make the experience 0
pl_df = pl_df_orig.copy() #Taking the original df since it is modified in the earlier changes.
print(pl_df[pl_df["Experience"] == 0].count()) #Lets take the count of zero values
# pl_df[pl_df < 0] = 0 #Makes all column -ve values in df to 0 --- Caution. This might not be intended.
pl_df[pl_df['Experience'] < 0] = 0 #Makes all the Experience column -ve values in df to 0
print(pl_df[pl_df["Experience"] == 0].count()) ## check if the count increased or not
print(pl_df[pl_df["Experience"] == 0].head())

ID                    66
Age                   66
Experience            66
Income                66
ZIP Code              66
Family                66
CCAvg                 66
Education             66
Mortgage              66
Personal Loan         66
Securities Account    66
CD Account            66
Online                66
CreditCard            66
dtype: int64
ID                    118
Age                   118
Experience            118
Income                118
ZIP Code              118
Family                118
CCAvg                 118
Education             118
Mortgage              118
Personal Loan         118
Securities Account    118
CD Account            118
Online                118
CreditCard            118
dtype: int64
      ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
89     0    0           0       0         0       0    0.0          0
105  106   24           0      35     94704       3    0.1          2
151  152   26           0     132     92834       3    6.5          3
155  156   24           0      60     94596       4    1.6          1
156  157   26           0      15     92131       4    0.4          1

     Mortgage  Personal Loan  Securities Account  CD Account  Online  \
89          0              0                   0           0       0
105         0              0                   1           0       1
151         0              1                   0           0       0
155         0              0                   0           0       1
156         0              0                   0           0       0

     CreditCard
89            0
105           0
151           1
155           0
156           1