In [3]:

import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)
from sklearn import metrics

In [173]:
df = pd.read_csv("train.csv")
df
print(df.shape)
print(list(df.columns))
 
test_df = pd.read_csv('test.csv')
print(test_df.shape)

(149087, 21)
['ID', 'Year Type', 'Year', 'Organization Group Code', 'Organization Group', 'Department Code', 'Department', 'Union Code', 'Union', 'Job Family Code', 'Job Family', 'Job Code', 'Job', 'Employee Identifier', 'Overtime', 'Other Salaries', 'Retirement', 'Health/Dental', 'Other Benefits', 'Total Benefits', 'Class']
(63895, 20)

In [144]:
#check for missing values
df.isnull().sum()

ID                         0
Year Type                  0
Year                       0
Organization Group Code    0
Organization Group         0
Department Code            0
Department                 0
Union Code                 0
Union                      0
Job Family Code            0
Job Family                 0
Job Code                   0
Job                        0
Employee Identifier        0
Overtime                   0
Other Salaries             0
Retirement                 0
Health/Dental              0
Other Benefits             0
Total Benefits             0
Class                      0
dtype: int64

In [145]:
df.isnull().count()

ID                         149087
Year Type                  149087
Year                       149087
Organization Group Code    149087
Organization Group         149087
Department Code            149087
Department                 149087
Union Code                 149087
Union                      149087
Job Family Code            149087
Job Family                 149087
Job Code                   149087
Job                        149087
Employee Identifier        149087
Overtime                   149087
Other Salaries             149087
Retirement                 149087
Health/Dental              149087
Other Benefits             149087
Total Benefits             149087
Class                      149087
dtype: int64

In [146]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149087 entries, 0 to 149086
Data columns (total 21 columns):
ID                         149087 non-null int64
Year Type                  149087 non-null object
Year                       149087 non-null int64
Organization Group Code    149087 non-null int64
Organization Group         149087 non-null object
Department Code            149087 non-null object
Department                 149087 non-null object
Union Code                 149087 non-null int64
Union                      149087 non-null object
Job Family Code            149087 non-null object
Job Family                 149087 non-null object
Job Code                   149087 non-null object
Job                        149087 non-null object
Employee Identifier        149087 non-null int64
Overtime                   149087 non-null float64
Other Salaries             149087 non-null float64
Retirement                 149087 non-null float64
Health/Dental              149087 non-null float64
Other Benefits             149087 non-null float64
Total Benefits             149087 non-null float64
Class                      149087 non-null int64
dtypes: float64(6), int64(6), object(9)
memory usage: 23.9+ MB

In [147]:
df.nunique()

ID                         149087
Year Type                       1
Year                            5
Organization Group Code         7
Organization Group              7
Department Code                56
Department                     56
Union Code                     69
Union                          77
Job Family Code                62
Job Family                     57
Job Code                     1141
Job                          1146
Employee Identifier         52928
Overtime                    59291
Other Salaries              81277
Retirement                 106315
Health/Dental               51138
Other Benefits             135307
Total Benefits             143816
Class                           3
dtype: int64

In [148]:
 #Lets analysze the distribution of the various attributes
df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,149087,NaN,NaN,NaN,106616,61550,0,53204.5,106623,159920,213201
Year Type,149087,1,Fiscal,149087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,149087,NaN,NaN,NaN,2015.07,1.41045,2013,2014,2015,2016,2017
Organization Group Code,149087,NaN,NaN,NaN,2.97698,1.58208,1,2,2,4,7
Organization Group,149087,7,"Public Works, Transportation & Commerce",47146,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department Code,149087,56,DPH,32193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department,149087,56,DPH Public Health,32193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Union Code,149087,NaN,NaN,NaN,491.155,333.915,1,216,535,790,990
Union,149087,77,"SEIU - Miscellaneous, Local 1021",42544,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job Family Code,149087,62,2300,15242,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job Family,149087,57,Nursing,15242,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job Code,149087,1141,9163,9092,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job,149087,1146,Transit Operator,9092,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employee Identifier,149087,NaN,NaN,NaN,28509,16460.7,1,14244,28520,42804.5,56987
Overtime,149087,NaN,NaN,NaN,4511.49,11361.8,-12308.7,0,0,2872.24,227314
Other Salaries,149087,NaN,NaN,NaN,3754.64,7516.45,-19131.1,0,698.35,4558.19,336726
Retirement,149087,NaN,NaN,NaN,12632.4,9657.91,-28723.2,3228.97,12839.7,19137.7,101306
Health/Dental,149087,NaN,NaN,NaN,9058.53,5024.49,-2946.53,4274.93,12137.4,12828.2,22052.2
Other Benefits,149087,NaN,NaN,NaN,4720.55,3933.77,-9857.74,1578.47,4395.51,6943.84,36815.4
Total Benefits,149087,NaN,NaN,NaN,26411.5,16893.4,-19814.4,9313.97,30311.6,38510.3,138504
Class,149087,NaN,NaN,NaN,2.01435,0.81675,1,1,2,3,3

In [149]:
df_drop = df.drop(['ID','Year Type','Employee Identifier','Organization Group','Department','Union','Job Family','Job'], axis=1)
test_df_drop = test_df.drop(['ID','Year Type','Employee Identifier','Organization Group','Department','Union','Job Family','Job'], axis=1)
df_drop.head()

,Year,Organization Group Code,Department Code,Union Code,Job Family Code,Job Code,Overtime,Other Salaries,Retirement,Health/Dental,Other Benefits,Total Benefits,Class
0,2017,3,DSS,535,2900,2905,0.00,240.00,11896.36,13765.55,5248.43,30910.34,2
1,2014,6,ASR,21,4200,4222,0.00,400.00,15429.94,9337.37,5599.01,30366.32,2
2,2014,3,DSS,535,2900,2910,0.00,1080.00,9682.00,8848.03,3463.92,21993.95,2
3,2014,1,FIR,798,H000,H002,25730.46,18414.18,24222.26,13911.13,2416.58,40549.97,3
4,2013,2,MTA,790,1600,1224,1138.28,2148.11,15437.62,12828.15,7246.54,35512.31,3

In [150]:

print(df_drop.dtypes)
print(test_df_drop.dtypes)

Year                         int64
Organization Group Code      int64
Department Code             object
Union Code                   int64
Job Family Code             object
Job Code                    object
Overtime                   float64
Other Salaries             float64
Retirement                 float64
Health/Dental              float64
Other Benefits             float64
Total Benefits             float64
Class                        int64
dtype: object
Year                         int64
Organization Group Code      int64
Department Code             object
Union Code                   int64
Job Family Code             object
Job Code                    object
Overtime                   float64
Other Salaries             float64
Retirement                 float64
Health/Dental              float64
Other Benefits             float64
Total Benefits             float64
dtype: object

In [151]:
print(df_drop.shape)
print(test_df_drop.shape)

(149087, 13)
(63895, 12)

In [152]:
df_drop['Job Family Code'].unique()

array(['2900', '4200', 'H000', '1600', '9100', '2400', '8200', '2800',
       '1800', '9200', 'SCRT', '900', '7300', '1200', '2500', '2300',
       'Q000', '5300', '5200', '7200', '1000', '2200', '2700', '3200',
       '9900', '3400', '2600', '7400', '4300', '8100', '6300', '6100',
       '1400', '1700', '3600', '8300', '1900', '2100', '8400', '7500',
       '3500', '6200', '1300', '5100', '3300', '8600', '5600', '9700',
       'SFRA', '5500', '5400', '9300', '7100', '4100', '1500', '1100',
       'MTA', 'WTR', 'PAB', 'DPHG', 'TIS', 'SHF'], dtype=object)

In [153]:
## Label Encoding of all the columns
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

# Categorical boolean mask
categorical_feature_mask = df_drop.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = df_drop.columns[categorical_feature_mask].tolist()
df_drop[categorical_cols] = df_drop[categorical_cols].apply(lambda col: le.fit_transform(col))
print(df_drop.info())

# Categorical boolean mask
categorical_feature_mask = test_df_drop.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = test_df_drop.columns[categorical_feature_mask].tolist()
test_df_drop[categorical_cols] = test_df_drop[categorical_cols].apply(lambda col: le.fit_transform(col))
print(test_df_drop.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149087 entries, 0 to 149086
Data columns (total 13 columns):
Year                       149087 non-null int64
Organization Group Code    149087 non-null int64
Department Code            149087 non-null int32
Union Code                 149087 non-null int64
Job Family Code            149087 non-null int32
Job Code                   149087 non-null int32
Overtime                   149087 non-null float64
Other Salaries             149087 non-null float64
Retirement                 149087 non-null float64
Health/Dental              149087 non-null float64
Other Benefits             149087 non-null float64
Total Benefits             149087 non-null float64
Class                      149087 non-null int64
dtypes: float64(6), int32(3), int64(4)
memory usage: 13.1 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63895 entries, 0 to 63894
Data columns (total 12 columns):
Year                       63895 non-null int64
Organization Group Code    63895 non-null int64
Department Code            63895 non-null int32
Union Code                 63895 non-null int64
Job Family Code            63895 non-null int32
Job Code                   63895 non-null int32
Overtime                   63895 non-null float64
Other Salaries             63895 non-null float64
Retirement                 63895 non-null float64
Health/Dental              63895 non-null float64
Other Benefits             63895 non-null float64
Total Benefits             63895 non-null float64
dtypes: float64(6), int32(3), int64(3)
memory usage: 5.1 MB
None

In [1]:
from xgboost import XGBClassifier
# from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'xgboost'

In [154]:
# shape of the dataset
print('Shape of training data :',df_drop.shape)
print('Shape of testing data :',test_df_drop.shape)

Shape of training data : (149087, 13)
Shape of testing data : (63895, 12)

In [155]:
# seperate the independent and target variable on training data
train_X = df_drop.drop(columns=['Class'],axis=1)
train_y = df_drop['Class']

In [156]:
test_X = test_df_drop

In [216]:
model = XGBClassifier(n_estimators=1000, max_depth=8)

# fit the model with the training data
model.fit(train_X,train_y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [217]:
# predict the target on the train dataset
predict_train = model.predict(train_X)
print('\nTarget on train data',predict_train)

Target on train data [2 2 2 ... 3 1 3]

In [218]:
# Accuray Score on train dataset
accuracy_train = accuracy_score(train_y,predict_train)
print('\naccuracy_score on train dataset : ', accuracy_train)

accuracy_score on train dataset :  1.0

In [219]:
# predict the target on the test dataset
predict_test = model.predict(test_X)
print('\nTarget on test data',predict_test)

Target on test data [1 3 2 ... 2 2 3]

In [220]:
predict_test

array([1, 3, 2, ..., 2, 2, 3], dtype=int64)

In [221]:
df_test_1 = pd.read_csv("test.csv")
df_test_2 = df_test_1['ID']
df_result = pd.DataFrame(df_test_2) 
df_result['Class'] = predict_test.tolist()
# df_result['ID']=df_test_1['ID']
# df_result['Class'] = predicted_labels
#type(predicted_labels) 
df_result

           ID  Class
0        9240      1
1      209951      3
2       29879      2
3      177914      3
4      180406      3
5      173831      1
6       83302      3
7       83596      3
8      172928      3
9       98385      1
10      16645      1
11     181354      3
12      20706      2
13      48782      2
14      58375      1
15     197365      2
16      31538      3
17      91039      2
18     210575      3
19       4017      1
20     112715      1
21     102611      2
22      11092      1
23     198079      1
24      48168      3
25      16323      2
26      22102      1
27     209412      2
28     139708      2
29      69559      1
...       ...    ...
63865   51845      3
63866   14791      3
63867  110918      3
63868  101259      2
63869   89710      1
63870  208864      1
63871  203202      3
63872  114570      3
63873  137469      1
63874  120797      3
63875  208181      3
63876    2086      1
63877      47      2
63878   42395      1
63879   93654      2
63880  125576      1
63881  118261      2
63882  190999      2
63883  149063      2
63884   73164      3
63885   89133      1
63886  192369      1
63887   18778      2
63888  122396      3
63889  180249      3
63890    8069      1
63891  135014      2
63892  201280      2
63893  116703      2
63894  165642      3

[63895 rows x 2 columns]

In [222]:
df_result.to_csv("result3_100.csv")